/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 janv. 2015, 18:47:01
    Author     : alequoy
*/

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #3071a9;
    color:#fff;
}

body { padding-bottom: 70px;padding-top: 70px; font-size:12px}


.pmacontrol {width:100%; }

.pmacontrol > tbody > tr > th {padding: 2px 4px; border-bottom: #666 1px solid; line-height:30px; background:#fff }
.pmacontrol > tbody > tr > td {padding: 2px 4px; cursor: pointer; }
.pmacontrol > tbody > tr.highlight_row {border: #666 1px solid ;}

.pmacontrol > tbody > tr:nth-child(odd){
    background-color:#eeeeee;
}

.highlight_row td{background-color: #ddd;}

.rotate {
    margin: 0;
    padding: 0;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}



.opacity {
    position: absolute;
    top: 0;left:0;
    width: 100%;height: 100%;
    background:rgba(0,0,0,.5);
    z-index:1;
}

.opacity { 
    opacity : .9;
    z-index: 999999;
}

#domMessage
{
    position: absolute;
    width: 100%; 
    height: 100%; 
    top: 0px;
    left:0;
    border: none; 
    backgroundColor: #000; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px; 
    opacity: .6; 
    color: #000 
}


a img {
    border: 0px none;
}

.icon {
    margin: 0px 0px 0px 0.3em;
    padding: 0px !important;
    width: 16px;
    height: 16px;
    background-image: url("../image/main/sprites.png") !important;
    background-repeat: no-repeat !important;
    background-position: left top !important;
}


.ic_b_relations {
    background-position: 0px -752px !important;
}
