/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 janv. 2015, 18:47:01
    Author     : alequoy
*/

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
background-color: #3071a9;
color:#fff;
}

body { padding-bottom: 70px;padding-top: 70px; font-size:12px}





.pmacontrol {width:100%; }

.pmacontrol > tbody > tr > th {padding: 2px 4px; border-bottom: #666 1px solid; line-height:30px; background:#fff }
.pmacontrol > tbody > tr > td {padding: 2px 4px; cursor: pointer; }
.pmacontrol > tbody > tr.highlight {border: #666 1px solid ;}

.pmacontrol > tbody > tr:nth-child(odd){
  background-color:#eeeeee;
}

.highlight td{background-color: #ddd;}




//*[@id="page"]/div[2]/table/tbody/tr[3]/td[5]